USE [master]
GO
/****** Object:  Database [NEPTUNO]    Script Date: 11/02/2020 21:03:58 ******/
CREATE DATABASE [NEPTUNO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NEPTUNO', FILENAME = N'D:\NEPTUNO\NEPTUNO.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NEPTUNO_log', FILENAME = N'D:\NEPTUNO\NEPTUNO_log.ldf' , SIZE = 2112KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NEPTUNO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NEPTUNO]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 11/02/2020 21:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[idcategoria] [int] NOT NULL,
	[nombrecategoria] [varchar](100) NOT NULL,
	[descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[idcategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 11/02/2020 21:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[idCliente] [varchar](5) NOT NULL,
	[NombreCompañia] [varchar](100) NOT NULL,
	[NombreContacto] [varchar](100) NULL,
	[CargoContacto] [varchar](100) NULL,
	[Direccion] [varchar](100) NULL,
	[Ciudad] [varchar](100) NULL,
	[Region] [varchar](100) NULL,
	[CodPostal] [varchar](100) NULL,
	[Pais] [varchar](100) NULL,
	[Telefono] [varchar](30) NULL,
	[Fax] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compañiasdeenvios]    Script Date: 11/02/2020 21:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compañiasdeenvios](
	[idCompañiaEnvios] [int] NOT NULL,
	[nombreCompañia] [varchar](40) NOT NULL,
	[telefono] [varchar](24) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCompañiaEnvios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detallesdepedidos]    Script Date: 11/02/2020 21:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detallesdepedidos](
	[idpedido] [int] NULL,
	[idproducto] [int] NULL,
	[preciounidad] [decimal](18, 0) NOT NULL,
	[cantidad] [int] NOT NULL,
	[descuento] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 11/02/2020 21:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleado] [int] NOT NULL,
	[Apellidos] [varchar](20) NULL,
	[Nombre] [varchar](20) NULL,
	[cargo] [varchar](40) NULL,
	[Tratamiento] [varchar](40) NULL,
	[FechaNacimiento] [date] NULL,
	[FechaContratacion] [date] NULL,
	[direccion] [varchar](60) NULL,
	[ciudad] [varchar](15) NULL,
	[region] [varchar](15) NULL,
	[codPostal] [varchar](10) NULL,
	[pais] [varchar](15) NULL,
	[TelDomicilio] [varchar](24) NULL,
	[Extension] [varchar](4) NULL,
	[notas] [text] NULL,
	[Jefe] [int] NULL,
	[sueldoBasico] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 11/02/2020 21:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [int] NOT NULL,
	[IdCliente] [varchar](5) NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[FechaPedido] [date] NULL,
	[FechaEntrega] [date] NULL,
	[FechaEnvio] [date] NULL,
	[FormaEnvio] [int] NULL,
	[Cargo] [decimal](18, 0) NULL,
	[Destinatario] [varchar](60) NULL,
	[DireccionDestinatario] [varchar](60) NULL,
	[CiudadDestinatario] [varchar](60) NULL,
	[RegionDestinatario] [varchar](60) NULL,
	[CodPostalDestinatario] [varchar](60) NULL,
	[PaisDestinatario] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 11/02/2020 21:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[idproducto] [int] NOT NULL,
	[nombreProducto] [varchar](40) NULL,
	[idProveedor] [int] NULL,
	[idCategoria] [int] NULL,
	[cantidadPorUnidad] [varchar](20) NULL,
	[precioUnidad] [decimal](18, 0) NULL,
	[unidadesEnExistencia] [smallint] NULL,
	[unidadesEnPedido] [smallint] NULL,
	[nivelNuevoPedido] [smallint] NULL,
	[suspendido] [smallint] NULL,
	[categoriaProducto] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idproducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 11/02/2020 21:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[idProveedor] [int] NOT NULL,
	[nombreCompañia] [varchar](40) NOT NULL,
	[nombrecontacto] [varchar](30) NULL,
	[cargocontacto] [varchar](30) NULL,
	[direccion] [varchar](60) NULL,
	[ciudad] [varchar](15) NULL,
	[region] [varchar](15) NULL,
	[codPostal] [varchar](10) NULL,
	[pais] [varchar](15) NULL,
	[telefono] [varchar](24) NULL,
	[fax] [varchar](24) NULL,
	[paginaprincipal] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[categorias] ([idcategoria], [nombrecategoria], [descripcion]) VALUES (1, N'Bebidas', N'Gaseosas, café, té, cervezas y maltas')
INSERT [dbo].[categorias] ([idcategoria], [nombrecategoria], [descripcion]) VALUES (2, N'Condimentos', N'Salsas dulces y picantes, delicias, comida para untar y aderezos')
INSERT [dbo].[categorias] ([idcategoria], [nombrecategoria], [descripcion]) VALUES (3, N'Repostería', N'Postres, dulces y pan dulce')
INSERT [dbo].[clientes] ([idCliente], [NombreCompañia], [NombreContacto], [CargoContacto], [Direccion], [Ciudad], [Region], [CodPostal], [Pais], [Telefono], [Fax]) VALUES (N'ALFKI', N'Alfreds Futterkiste', N'Maria Anders', N'Representante de ventas', N'Obere Str. 57', N'Berlín', NULL, N'12209', N'Alemania', N'030-0074321', N'030-0076545')
INSERT [dbo].[clientes] ([idCliente], [NombreCompañia], [NombreContacto], [CargoContacto], [Direccion], [Ciudad], [Region], [CodPostal], [Pais], [Telefono], [Fax]) VALUES (N'ANATR', N'Ana Trujillo Emparedados y helados', N'Ana Trujillo', N'Propietario', N'Avda. de la Constitución 2222', N'México D.F.', NULL, N'05021', N'México', N'(5) 555-4729', N'(5) 555-3745')
INSERT [dbo].[clientes] ([idCliente], [NombreCompañia], [NombreContacto], [CargoContacto], [Direccion], [Ciudad], [Region], [CodPostal], [Pais], [Telefono], [Fax]) VALUES (N'ANTON', N'Antonio Moreno Taquería', N'Antonio Moreno', N'Propietario', N'Mataderos  2312', N'México D.F.', NULL, N'05023', N'México', N'(5) 555-3932', NULL)
INSERT [dbo].[compañiasdeenvios] ([idCompañiaEnvios], [nombreCompañia], [telefono]) VALUES (1, N'Speedy Express', N'(503) 555-9831')
INSERT [dbo].[compañiasdeenvios] ([idCompañiaEnvios], [nombreCompañia], [telefono]) VALUES (2, N'United Package', N'(503) 555-3199')
INSERT [dbo].[compañiasdeenvios] ([idCompañiaEnvios], [nombreCompañia], [telefono]) VALUES (3, N'Federal Shipping', N'(503) 555-9931')
INSERT [dbo].[detallesdepedidos] ([idpedido], [idproducto], [preciounidad], [cantidad], [descuento]) VALUES (10248, 11, CAST(14 AS Decimal(18, 0)), 12, CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[detallesdepedidos] ([idpedido], [idproducto], [preciounidad], [cantidad], [descuento]) VALUES (10248, 42, CAST(10 AS Decimal(18, 0)), 10, CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[detallesdepedidos] ([idpedido], [idproducto], [preciounidad], [cantidad], [descuento]) VALUES (10248, 72, CAST(35 AS Decimal(18, 0)), 5, CAST(0 AS Decimal(18, 0)))
GO
INSERT [dbo].[Pedidos] ([IdPedido], [IdCliente], [IdEmpleado], [FechaPedido], [FechaEntrega], [FechaEnvio], [FormaEnvio], [Cargo], [Destinatario], [DireccionDestinatario], [CiudadDestinatario], [RegionDestinatario], [CodPostalDestinatario], [PaisDestinatario]) VALUES (10248, N'WILMK', 5, CAST(N'1994-08-04' AS Date), CAST(N'1994-09-01' AS Date), CAST(N'1994-08-16' AS Date), 3, CAST(32 AS Decimal(18, 0)), N'Wilman Kala', N'Keskuskatu 45', N'Helsinki', NULL, N'21240', N'Finlandia')
INSERT [dbo].[Pedidos] ([IdPedido], [IdCliente], [IdEmpleado], [FechaPedido], [FechaEntrega], [FechaEnvio], [FormaEnvio], [Cargo], [Destinatario], [DireccionDestinatario], [CiudadDestinatario], [RegionDestinatario], [CodPostalDestinatario], [PaisDestinatario]) VALUES (10249, N'TOMSP', 6, CAST(N'1994-08-05' AS Date), CAST(N'1994-09-16' AS Date), CAST(N'1994-08-10' AS Date), 1, CAST(12 AS Decimal(18, 0)), N'Toms Spezialitäten', N'Luisenstr. 48', N'Münster', NULL, N'44087', N'Alemania')
INSERT [dbo].[Pedidos] ([IdPedido], [IdCliente], [IdEmpleado], [FechaPedido], [FechaEntrega], [FechaEnvio], [FormaEnvio], [Cargo], [Destinatario], [DireccionDestinatario], [CiudadDestinatario], [RegionDestinatario], [CodPostalDestinatario], [PaisDestinatario]) VALUES (10250, N'HANAR', 4, CAST(N'1994-08-08' AS Date), CAST(N'1994-09-05' AS Date), CAST(N'1994-08-12' AS Date), 2, CAST(66 AS Decimal(18, 0)), N'Hanari Carnes', N'Rua do Paço. 67', N'Río de Janeiro', N'RJ', N'05454-876', N'Brasil')
GO
INSERT [dbo].[productos] ([idproducto], [nombreProducto], [idProveedor], [idCategoria], [cantidadPorUnidad], [precioUnidad], [unidadesEnExistencia], [unidadesEnPedido], [nivelNuevoPedido], [suspendido], [categoriaProducto]) VALUES (1, N'Té Dharamsala', 1, 1, N'10 cajas x 20 bolsas', CAST(18 AS Decimal(18, 0)), 39, 0, 10, 0, N'Categoria D')
INSERT [dbo].[productos] ([idproducto], [nombreProducto], [idProveedor], [idCategoria], [cantidadPorUnidad], [precioUnidad], [unidadesEnExistencia], [unidadesEnPedido], [nivelNuevoPedido], [suspendido], [categoriaProducto]) VALUES (2, N'Cerveza tibetana Barley', 1, 1, N'24 - bot. 12 l', CAST(19 AS Decimal(18, 0)), 17, 40, 25, 0, N'Categoria D')
INSERT [dbo].[productos] ([idproducto], [nombreProducto], [idProveedor], [idCategoria], [cantidadPorUnidad], [precioUnidad], [unidadesEnExistencia], [unidadesEnPedido], [nivelNuevoPedido], [suspendido], [categoriaProducto]) VALUES (3, N'Sirope de regaliz', 1, 2, N'12 - bot. 550 ml', CAST(10 AS Decimal(18, 0)), 13, 70, 25, 0, N'Categoria D')
INSERT [dbo].[proveedores] ([idProveedor], [nombreCompañia], [nombrecontacto], [cargocontacto], [direccion], [ciudad], [region], [codPostal], [pais], [telefono], [fax], [paginaprincipal]) VALUES (1, N'Exotic Liquids', N'Charlotte Cooper', N'Gerente de compras', N'49 Gilbert St.', N'Londres', NULL, N'EC1 4SD', N'Reino Unido', N'(171) 555-2222', NULL, NULL)
INSERT [dbo].[proveedores] ([idProveedor], [nombreCompañia], [nombrecontacto], [cargocontacto], [direccion], [ciudad], [region], [codPostal], [pais], [telefono], [fax], [paginaprincipal]) VALUES (2, N'New Orleans Cajun Delights', N'Shelley Burke', N'Administrador de pedidos', N'P.O. Box 78934', N'New Orleans', N'LA', N'70117', N'Estados Unidos', N'(100) 555-4822', NULL, N'CAJUN.HTM#CAJUN.HTM#')
INSERT [dbo].[proveedores] ([idProveedor], [nombreCompañia], [nombrecontacto], [cargocontacto], [direccion], [ciudad], [region], [codPostal], [pais], [telefono], [fax], [paginaprincipal]) VALUES (3, N'Grandma Kelly''s Homestead', N'Regina Murphy', N'Representante de ventas', N'707 Oxford Rd.', N'Ann Arbor', N'MI', N'48104', N'Estados Unidos', N'(313) 555-5735', N'(313) 555-3349', NULL)
ALTER TABLE [dbo].[detallesdepedidos]  WITH CHECK ADD  CONSTRAINT [fk_1] FOREIGN KEY([idpedido])
REFERENCES [dbo].[Pedidos] ([IdPedido])
GO
ALTER TABLE [dbo].[detallesdepedidos] CHECK CONSTRAINT [fk_1]
GO
ALTER TABLE [dbo].[detallesdepedidos]  WITH CHECK ADD  CONSTRAINT [fk_2] FOREIGN KEY([idproducto])
REFERENCES [dbo].[productos] ([idproducto])
GO
ALTER TABLE [dbo].[detallesdepedidos] CHECK CONSTRAINT [fk_2]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [fk_4] FOREIGN KEY([FormaEnvio])
REFERENCES [dbo].[compañiasdeenvios] ([idCompañiaEnvios])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [fk_4]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [fk_5] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[clientes] ([idCliente])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [fk_5]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [fk_6] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [fk_6]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [fk_3] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[proveedores] ([idProveedor])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [fk_3]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [fk_7] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[categorias] ([idcategoria])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [fk_7]
GO
USE [master]
GO
